# Banco de dados
db.sqlite3

# Cache do Python
__pycache__/
*.pyc

# Documentos 
docs/

# Ambientes Virtuais (boa prática adicionar)
.venv/
venv/
env/

# Arquivos de sistema operacional
.DS_Store

# Arquivos de IDE / Editor
# Ignora as configurações pessoais do VSCode, mas permite compartilhar
# extensões recomendadas para a equipe no arquivo extensions.json.
.vscode/*
!.vscode/extensions.json