{% extends 'core/base.html' %}

{% block title %}Detalhes de {{ expositor.nome }}{% endblock %}

{% block content %}
    <a href="javascript:history.back()">< Voltar</a>
    <hr>
    
    <h1>{{ expositor.nome }}</h1>
    <p><strong>Contato:</strong> {{ expositor.contato }}</p>
    <p><strong>Sobre:</strong> {{ expositor.descricao }}</p>

    <hr>

    <h2>Produtos Oferecidos</h2>
    {% if produtos %}
        {% for produto in produtos %}
            <div class="produto-card">
                <h3>{{ produto.nome }}</h3>
                <p>{{ produto.descricao }}</p>
                <p class="preco">Preço: R$ {{ produto.preco|floatformat:2 }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Este expositor ainda não cadastrou produtos.</p>
    {% endif %}
{% endblock %}
